<br/><br/><br/><br/><br/><br/>
load resource from url
<button (click)="btn1()">1</button><br/>
load resource from url by {uri}
<button (click)="btn2()">2</button><br/>
WORKS WITH IMAGE FROM ASSETS 
<button (click)="btn3()">3</button><br/>

not work 
<button (click)="btn4()">4</button><br/>


not work image from gallery path: ('capacitor://localhost/_capacitor_file_/private/var/mobile/Containers/Data/Application/F0EE6FA1-2A41-4E89-B641-0E6F603B0ACE/tmp/photo-1.jpg
')
<button (click)="btn5()">5</button><br/>
not work image from gallery path: ('capacitor://localhost/_capacitor_file_/private/var/mobile/Containers/Data/Application/F0EE6FA1-2A41-4E89-B641-0E6F603B0ACE/tmp/photo-1.jpg
')
<button (click)="btn6()">6</button><br/>


not work from gallery path coverted file:///var/mobile/Containers/Data/Application/77E9D88F-AEB4-4876-9553-061426B4199F/Documents/capacitor://localhost/_capacitor_file_/private/var/mobile/Containers/Data/Application/77E9D88F-AEB4-4876-9553-061426B4199F/tmp/photo-1.jpg
<button (click)="btn7()">7</button><br/>
not work from gallery path coverted file:///var/mobile/Containers/Data/Application/77E9D88F-AEB4-4876-9553-061426B4199F/Documents/capacitor://localhost/_capacitor_file_/private/var/mobile/Containers/Data/Application/77E9D88F-AEB4-4876-9553-061426B4199F/tmp/photo-1.jpg
<button (click)="btn8()">8</button><br/>